# Server Configuration
PORT=3001

# Colun Integration Settings
COLUN_API_URL=https://services.wing.cl/tracking/receiver/hub/v2
COLUN_BEARER_TOKEN=Bearer_your_jwt_token_here

# Arauco Integration Settings
ARAUCO_API_URL=http://clsclwebqas09.arauco.cl/GPSChileWS/GPSChileWS.asmx
ARAUCO_PROVIDER_NAME=VIKARGPS
ARAUCO_NOM_FLOTA=VIKARGPS
ARAUCO_COD_FLOTA=1539

# Cementos Melón (UNIGIS) Settings
UNIGIS_API_URL=https://cloud-test.unigis.com/hub_TEST/mapi/soap/gps/service.asmx
UNIGIS_SYSTEM_USER=VIKGPS
UNIGIS_PASSWORD=your_password_here

# Falabella Settings
FALABELLA_API_URL=http://ww3.qanalytics.cl/gps_test/service.asmx
FALABELLA_USER=WS_test
FALABELLA_PASSWORD=your_password_here

# Standard Incoming Webhook Settings
INCOMING_API_KEY=your_incoming_api_key_here
GPS_SERVER_URL=http://gsh7.net/id39/api/api_loc.php
